.btn{
    border: 1px solid black;
    width: 120px;
}

.home{
    overflow-y: hidden;
}

.active-order{
    background-color: #4C9A2A;
    color: white;
    transition: 0.5s ease;
}

.dashboard-btn{
    transition: 0.3s ease;
}

.menu-icon{
    height: 25px;
}

.active-bottom-wrapper{
    height: 100%;
}