.btn{
    border: 1px solid black;
    width: 120px;
}

.home{
    overflow-y: hidden;
}

.active-order{
    background-color: #4C9A2A;
    color: white;
}

.dashboard-top div:hover{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.menu-icon{
    height: 25px;
}